/*!
 * Start Bootstrap - 4 Col Portfolio (https://startbootstrap.com/template-overviews/4-col-portfolio)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-4-col-portfolio/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.footer-demodule
{
	margin-top: 15px;
}
.demo
{
	margin-top: 15px;
}

.support
{
	float: right;
}
.obligatoire
{
	color:blue;
	font-weight: bolder;
	font-size: larger;
}
/*css de marie pour la page de connexion*/
.row 
{
	display:flex;
	align-items : center;
	justify-content : center;
}

.my-4
{
	margin-left:10%;
}

.pseudo
{
	display: flex;
	justify-content: space-around;
	padding:100;
	padding-bottom: 25px;
	
}

.mdp
{
	display: flex;
	padding-bottom: 15px;
	
}

.form-control{
	width: 201px;
}

.form-group{
	display:inline-block;
}


/* fin de css de marie pour la page de connexion */